*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
reading_pdf/Chapter-25-Hand-Fractures-and-Dislocations.pdf filter=lfs diff=lfs merge=lfs -text
reading_pdf/Diabetic[[:space:]]Foot[[:space:]]Ulcers[[:space:]]Quickguide_M4007N.pdf filter=lfs diff=lfs merge=lfs -text
reading_pdf/Management_of_Major_Limb_Injuries.pdf filter=lfs diff=lfs merge=lfs -text
reading_pdf/Practical[[:space:]]handbook[[:space:]]for[[:space:]]burns[[:space:]]injury[[:space:]]management[[:space:]](draft).pdf filter=lfs diff=lfs merge=lfs -text
static/artifacts/audio_0044784c-280d-442d-9497-fdaf7b432af2.mp3 filter=lfs diff=lfs merge=lfs -text
static/artifacts/audio_0786526d-5718-468c-8150-5037cebb14e7.mp3 filter=lfs diff=lfs merge=lfs -text
static/artifacts/audio_1ddd26f7-7691-49c6-bb4c-b0bd0944849c.mp3 filter=lfs diff=lfs merge=lfs -text
static/artifacts/audio_41c9da3e-df51-4948-8ab4-e1ae2ac443c1.mp3 filter=lfs diff=lfs merge=lfs -text
static/artifacts/audio_6bd3b0d3-5175-40c8-a061-78dedd235ee1.mp3 filter=lfs diff=lfs merge=lfs -text
static/artifacts/audio_be075d04-c089-4cb4-9bc3-3b384c7cad3d.mp3 filter=lfs diff=lfs merge=lfs -text
static/artifacts/audio_c0aef7a5-68a8-49e8-9976-b2763e3794a5.mp3 filter=lfs diff=lfs merge=lfs -text
static/images/0207669bca703548f874b0f194a097147c50151b6b9133b8ea2d1ad6b368345ceb93abe788a3e77038a657c6ddd6d4da2beb9a07aaca07f20187fb_1280.jpg filter=lfs diff=lfs merge=lfs -text
static/images/8d0b08908bfa570abdd748e23f450780e8bce35e880810aac66cc0c6739b7c447e96da70c863584f4b83380f79bdd73aa3d694bcbc54f1e61da0de_1280.jpg filter=lfs diff=lfs merge=lfs -text
static/images/9f56f6e152d04b5ecc74327ec1f70bf9f41421bdf0ef521d676e3c202360206b212a4ad1661742488a65f396a7334eb3dc988c36704ca042158b79_1280.jpg filter=lfs diff=lfs merge=lfs -text
static/images/c8f35ff85d919e8ff15e460f3f6c350ead8cc6ba3a2aff2ea771a9ed0e6b36c5b9f1ef7e78f2505786aa56a4c9b0316fe0c341c96e5bcc4e1b9e9b_1280.jpg filter=lfs diff=lfs merge=lfs -text
