pymongo
pinecone
langchain-community
langchain_pinecone
langchain 
langchain-community
pydantic
langchain-google-genai
langchain-core
groq
flask
sentence-transformers
pandas
openai
pymongo[srv]
huggingface_hub[hf_xet]
