 .u-section-1 {
  background-image: none;
  min-height: 1346px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2)  + 857px);
  height: 482px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 612px;
  height: 612px;
  background-image: url("images/main.jpg");
  background-position: 50% 50%;
  margin: -512px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-group-1 {
  width: 453px;
  min-height: 367px;
  height: auto;
  margin: -524px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 47px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 24px 0 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 205px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 382px;
  grid-gap: 20px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 45px 7px 0 11px;
  padding: 10px 71px 10px 70px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 45px 7px 0 11px;
  padding: 10px 71px 10px 70px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 45px 7px 0 11px;
  padding: 10px 71px 10px 70px;
}

.u-section-1 .u-custom-html-1 {
  margin: 30px auto 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 857px);
    height: 398px;
    margin-top: 110px;
  }

  .u-section-1 .u-image-1 {
    width: 524px;
    height: 524px;
    margin-top: -449px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 396px;
    min-height: 391px;
    margin-top: -469px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 118px;
    margin-left: auto;
    margin-bottom: 50px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 469px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    height: 457px;
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 543px;
    height: 543px;
    margin-top: -500px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 356px;
    margin-top: 18px;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: 20px;
    margin-bottom: 17px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 881px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1274px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 482px);
    height: 455px;
    margin-top: 84px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -497px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1074px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 313px);
    height: 285px;
    margin-top: 55px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -327px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 20px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-bottom: 13px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
}